// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$breadcrumb-divider: quote(">");
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$font-weight-bolder: 900;
$border-radius: 10px;

// Colors
$blue: #3b5998;
$indigo: #6574cd;
$purple: #a68cf1;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
