$theme-colors: (
        "black": #1c252c,
        "purple": #a68cf1,
        "light-orange": #feca7c,
        "light-gray": #9f9f9f
);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-400size {
  height: 400px;
}

.card-height {
  height: 150px !important;
  overflow-y: auto;
}

.toast-content {
  position: fixed;
  padding: 20px 20px 0 0;
  top: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
  z-index: 9999;
}

.rounded-top-large{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.margin-negative {
  margin-top: -200px;
  @media (max-width: 770px) {
    margin-top: -100px;
  }
}